* {
	margin: 0;
	padding: 0;

}

body {
	background-color: #F4F4F4; 
	font-family: 'Roboto', sans-serif;
	color: #545454;
	margin: 0 auto;
}


/*Navigation*/

.navbar {
  background-color: #F4F4F4;
 }


.fa {
    padding-right: 5px;
}

.navbar-brand {
	font-family: 'Cookie', cursive;
	font-size: 20px;
	color: #545454;
}

.navbar-brand i {
	color: #D77789;
}

.nav a {
	color: #545454;
}

.navbar .container {
	margin-top: 20px;
}

/*line break*/

hr{
	border-top: 2px solid #8c8b8b;
}

/*header*/
h1 {
	font-size: 20px;
}
span {
	color: #D77789;
}

/*image*/
.img-responsive {
	width: 100%;
}

/*about me*/
h2 {
	font-size: 20px;
	font-family: 'Cookie', cursive;
	color: #D77789;
}

.container {
	margin-top: 40px;
}

#about p {
	margin-top: 20px;
	text-align: left;
}

/*portfolio*/

h3 {
	font-size: 15px;
}

.thumbnail {
	height: 200px;

}

.thumbnail p {
	font-size: 12px;
	color: #D77789;
}

/*last seciton*/
.section h2 {
	margin-top: 50px;
	text-align: center;
}

/*footer*/

.footer {
	background-color: #2D2D2D;
}

.footer p {
	margin-top: 50px;
	font-family: 'Cookie', cursive;
	font-size: 17px;
	color: #D77789;

}

.footer button {
	background-color: #2D2D2D;
	color: white;
	text-shadow: none;
	border: none;
}

.sns {
	margin-top: 175px;
	text-align: center;
}

.sns a {
	color: #D77789;
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	border-radius: 30px;
}